.CategoryTitle {
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    margin: 10px;
    margin-top: 20px;
}

.AppBarOffset {
    height: 48px;
}

button.SubmitButton {
    margin-top: 10px;
    width: 100%;
}