.card-holder{
  width: auto;
  height:  300px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 1%;
}

.card{
  border: 1px solid #AAAAAA;
  width: 220px;
  height:  auto;
  display: inline-block;
}

.card-header {
    padding: 10px;
    width: 170px;
    display: inline-block;
    cursor: pointer;
    margin: 1%
}

.collapsible{
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.content {
  padding: 0 15px;
  height: auto;
  max-height: 200px;
  width: inherit;
  overflow: hidden;
  transition: 0.5s ease-out;
  margin-bottom: 10px;
}
.content.closed {
  margin-bottom: 0px;
  max-height: 0px;
  display: hidden;
}

input[type="checkbox"]:checked + label span.card-title {
    font-weight: bold;
}

input[type="checkbox"] + label span.card-checkbox {
    border: 1px solid #CCCCCC;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #FFFFFF;
    color: #FFFFFF;
    transition: all .2s;
    text-align: center;
    vertical-align: middle;
    font-size: 0px;
}


input[type="checkbox"]:checked + label span.card-checkbox {
    background: #399239;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #255825;
    font-size: 20px;
}
